body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}

.clickable-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

.card-body .fs-4 {
    font-weight: bold;
}

* {
    touch-action: manipulation;
}
#detailNetProfit {
    font-weight: bold;
}
#detailNetProfit::before {
    content: '';
}
